---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ site.url }}/</loc><priority>1.0</priority></url>
  <url><loc>{{ site.url }}/hakkimizda/</loc><priority>0.6</priority></url>
  <url><loc>{{ site.url }}/iletisim/</loc><priority>0.7</priority></url>
  <url><loc>{{ site.url }}/gizlilik/</loc><priority>0.3</priority></url>
  {% for kat in site.kategoriler %}
  <url><loc>{{ site.url }}/{{ kat.slug }}/</loc><priority>0.8</priority></url>
  {% endfor %}
  {% for tur in site.kesfetTurleri %}
  <url><loc>{{ site.url }}/hatayi-kesfet/{{ tur.slug }}/</loc><priority>0.7</priority></url>
  {% endfor %}
  {% for yazi in collections.tumYazilar %}
  <url><loc>{{ site.url }}{{ yazi.url }}</loc><lastmod>{{ yazi.date | iso }}</lastmod><priority>0.7</priority></url>
  {% endfor %}
</urlset>
